### Importing Necessary Libraries

In [13]:
import pandas as pd
import numpy as np

import matplotlib
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

### Loading and Inspect Data

Each sample in the train and test set has the following information:  

* The text of a tweet
* A keyword from that tweet (although this may be blank!)
* The location the tweet was sent from (may also be blank)

#### Columns
* id - a unique identifier for each tweet
* keyword - a particular keyword from the tweet (may be blank)
* location - the location the tweet was sent from (may be blank)
* text - the text of the tweet
* target - in train.csv only, this denotes whether a tweet is about a real disaster (1) or not (0)

Task: Predicting whether a given tweet is about a real disaster or not. If so, predict a 1. If not, predict a 0

In [3]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')

In [10]:
#(rows, columns)
print(train.shape)
print(test.shape)

(7613, 5)
(3263, 4)

In [6]:
train.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [11]:
# check class distribution
train.target.value_counts()

0    4342
1    3271
Name: target, dtype: int64